@-webkit-keyframes scroll-down {
  0% {
    -webkit-transform: translateY(-150%);
    -moz-transform: translateY(-150%);
    transform: translateY(-150%);
    opacity: 0;
  }

  90% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%);
    ;
  }

  100% {
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
    -moz-transform: translateY(10%);
    opacity: 0;
  }
}

@-moz-keyframes scroll-down {
  0% {
    -webkit-transform: translateY(-150%);
    -moz-transform: translateY(-150%);
    transform: translateY(-150%);
    opacity: 0;
  }

  90% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%);
  ;
  }

  100% {
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
    -moz-transform: translateY(10%);
    opacity: 0;
  }
}

@keyframes scroll-down {
  0% {
    -webkit-transform: translateY(-150%);
    -moz-transform: translateY(-150%);
    transform: translateY(-150%);
    opacity: 0;
  }

  90% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%);
  ;
  }

  100% {
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
    -moz-transform: translateY(10%);
    opacity: 0;
  }
}
