$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700|EB+Garamond);
$sans: 'Open Sans', sans-serif;

@import 'sass-bootstrap/lib/bootstrap';
@import 'utils';
@import 'animation';
@import 'pages';
@import 'load';


html, body {
  font-family: $sans;
  margin: 0 !important;
  padding: 0 !important;
  min-width: 1060px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

body {
  height: 100%;
}


.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}


h1 {
  text-transform: uppercase;
  margin: 20px 0;
  font-size: 8pt;
  font-weight: normal;
  padding: 20px 0;
  letter-spacing: 3px;
  border-bottom: 1px dotted #000;
  font-weight: bold;
}

h2 {
  text-transform: uppercase;
  margin: 10px 0;
  font-size: 19pt;
}

p {
  font-family: georgia, serif;
  font-size: 11pt;
  line-height: 1.6;
}



#logo {
  margin-bottom: 10px !important;
}

#copyright {
  font-weight: normal;
  margin-top: 190px !important;
  font-size: 8pt;
  line-height: 1.3;
}

#credit {
  color: #A0A0A0 !important;
  letter-spacing: 0 !important;
  text-decoration: underline !important;
  font-weight: normal !important;
  font-size: 8pt !important;
  text-transform: capitalize !important;
  &:hover {
    color: #BDBDBD;
  }
}

#main-nav {
  position: fixed;
  top: 6%;
  width: 200px;
  z-index: 99;

  ul, li {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
    text-align: right;

    a {
      outline: 0;
      color: #1e1e1e;
      font-size: 9pt;
      letter-spacing: 1px;
      font-weight: 700;
      text-decoration: none;
      display: block;
      padding: 10px 0;
      transition: all .3s;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      text-transform: uppercase;

      &:hover {
        color: #8D8D8D;
        padding-right: 10px;
        letter-spacing: 2px;
      }
    }
  }
}

.main-wrap {
  width: calc(100% - 220px);
  padding: 0 20px;
//  margin-top: 15px;
  min-height: 100%;
  margin-left: 220px;
}

.item { padding: 2px; width: 24.5%; float: left; height: auto;}
.item.w2 { width: 50%; }

.item img { width: 100%; height: auto;}

#logo img {
  width: 135px;
}

#main-content {
  display: inline-block;
  width: 79%;
}



#comments {
  display: none;
}

.post-thumbnail {
  height: 300px;
  position: absolute;
  background: #000;
  overflow: hidden;
  top: 15px;
  width: 100%;
}

.post-thumbnail img {
  width: 100%;
  height: auto;
  opacity: .5;
}

.entry-header {
  margin-top: 310px;
}

#social {
  ul, li {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 0 10px 0 0;
  }

  a {
    font-size: 20pt;
    color: #585858;
    &:hover {
      color: #333;
    }
  }


}

.error {
  width: 100% !important;
  font-size: 17pt;
  text-align: center;
  color: rgb(211, 77, 77);
}

#mobile-footer {
  display: none;
}

/* Responsive: Portrait tablets and up */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  html, body {
    min-width: 100%;
  }

  #mobile-footer {
    display: block;
    text-align: center;
    padding: 10px 0;
    background: #f1f1f1;
    font-size: 9pt;
    color: #777;
    a {
      color: inherit;
    }
  }

  #splash {
    display: none;
  }

  #index, .break {
    display: none;
  }

  #inner-slideshow {
    img {
      height: 40%;
      max-width: 320px;
    }

  }

  #space-wrap {
    height: 50px !important;
    min-height: 0;
    margin-top: 0 !important;
    padding: 0;
  }

  .main-wrap {
    width: 100% !important;
    margin-left: 0 !important;
  }

  #main-nav {
    top: 0 !important;
    width: 100%;
    height: 50px;
    overflow: hidden;
    background: #F3F3F3;
    border-bottom: 2px solid #E0E0E0;

    #logo {
      a, a:hover {
        padding: 0 !important;
        background: none !important;
        letter-spacing: 0 !important;
      }
    }

    #copyright {
      display: none !important;
    }


    li {
      margin-right: 3px;
      overflow: hidden;
      height: 50px;
    }

    ul, li {
      display: inline-block !important;
      text-align: left !important;

      a {
        padding: 10px 0;
        &:hover {
          background: none !important;
          padding: 10px 0;
          letter-spacing: 0 !important;
        }
      }

      #logo {
        height: 45px;
        img {
          height: 50px;
          width: auto;
          position: relative;
          top: 5px;
        }
      }
    }
  }

  #event-content {
    width: 100%;
    max-width: 320px;
    margin-top: 60px;
  }

  #events {
    width: 100% !important;
    padding: 10px !important;
    overflow: hidden;
  }

  #events li {
    display: table;
    height: 300px;
    width: 100%;
    margin: auto;
  }

  #about, #clients {
    width: 100%;
    font-family: Georgia;
    line-height: 1.5;
    font-size: 13pt;
    min-width: 320px !important;
  }

  #clients {
    font-family: helvetica;

    li {
      position: relative;
      display: inline-table;
      text-align: left;
      height: 30px;
      vertical-align: top;
      width: 100%;
      margin: 5px 0;
      padding: 0 0 10px;
      background: none;
      border-bottom: 1px solid #F4F4F4;
      font-size: 11pt;
      letter-spacing: 0;

      a {
        padding: 0;
      }
    }
  }

}
